:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typhography Section Start*/

html {
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* Typhography Section End*/

/* Link Section Start*/

a {
  text-decoration: none;
}
.arrow-link {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.arrow-link::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.arrow-link:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .arrow-link {
    font-size: 1.5rem;
  }
}
/* Link Section End*/

/* Badge Section Start*/
.badge {
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  font-size: 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: white;
}

.badge--secondary {
  background: var(--color-secondary);
  color: white;
}

.bagde--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .bagde--small {
    font-size: 1.2rem;
  }
}
/* Badge Section End*/

/* List Section End*/
.list {
  list-style: none;
  color: var(--color-headings);
  padding-left: 0;
}
.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

.list--tick {
  list-style-image: url("../images/tick.svg");
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/* List Section End*/

/*Icon*/
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/*Icon*/

/*Buttons*/
.button {
  border: none;
  border-radius: 40px;
  padding: 2rem 3rem;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  white-space: nowrap;
  margin: 1rem 0;
}
.button--primary {
  background: var(--color-primary);
  color: white;
}
.button--primary:hover {
  background: #3a8ffd;
}
.button--secondary {
  background: var(--color-secondary);
  color: white;
}
.button--secondary:hover {
  background: #88c8eb;
}
.button--accent {
  background: var(--color-accent);
  color: white;
}
.button--accent:hover {
  background: #ec3000;
}
.button--border {
  border: 2px solid var(--color-headings);
}

.button--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.4rem;
  }
}
/*Buttons*/

/*input*/
.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-family: Inter(400), Arial, Helvetica, sans-serif;
  font-size: 2rem;
  outline: 0;
  color: var(--color-headings);
}

::placeholder {
  color: cdcpd7;
}

.input-group {
  border: 1px solid #ccc;
  border-radius: 30px;
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}
.input-group .button {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/*input*/

/*Card*/
.card {
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}
.card-purchase {
  width: 40rem;
  height: 60rem;
}
.card--header,
.card--body {
  padding: 2rem 3rem;
}
.card-primary .card--header {
  background: var(--color-primary);
  color: white;
}
.card-secondary .card--header {
  background: var(--color-secondary);
  color: white;
}
/*Card*/
