body{
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    color: #434343;
    background: #DAE3E7;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6,h7{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    color: #778492;
}

a {
    color: #3AAA64;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all .4s ease-in-out;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: #2d844e;
  }

  a:focus {
    text-decoration: none;
  }

  .btn, a.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all .4s ease-in-out;
    font-family: 'Montserrat', arial, sans-serif;
    padding: 8px 16px;
    font-weight: bold;
  }

  
.btn i, a.btn i {
    margin-right: 5px;
    position: relative;
    top: -2px;
  }

  
.btn:hover, a.btn:hover {
    text-decoration: none;
  }

.btn:focus, a.btn:focus {
    color: #fff;
    box-shadow: none;
}


.btn-cta-primary , a.btn-cta-primary{
    background: #54ba4e;
    border: 1px solid #54ba4e;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}


.btn-cta-primary:hover , a.btn-cta-primary:hover{
    background: #49ac43;
    border: 1px solid #49ac43;
}

/* Header */
.header{
    padding: 30px 0;
    background: #f5f5f5;
    border-top: 10px solid #778492;
}

.header .btn {
    font-weight: bold;
    margin-top: 30px;
}

.header .profile-image {
    margin-right: 30px;
}

.header .profile-content .name {
    color: #49515a;
    font-size: 38px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.header .profile-content .desc {
    color: #778492;
    font-family: 'Lato',arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.header .profile-content .social a {
    background: #b0b7bf;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .profile-content .social a:hover {
    background: #778492;
    text-decoration: none;
  }

.header .profile-content .social a .svg-inline--fa {
    font-size: 20px;
    margin-top: 8px;
  }
/*Header*/

/*Sections*/
.section{
    margin-bottom: 30px;
}
.section .section-inner{
    background: #fff;
    padding: 30px;
}

.section .section-inner .heading{
    margin-top: 0;
    margin-bottom: 30px;
    color: #545e69;
    font-size: 24px;
}
/*Sections*/
  
@media (max-width: 767.98px) {
    .header {
      text-align: center;
    }
    .header .profile-image {
      float: none !important;
      margin: 0 auto;
    }
    .header .profile-content {
      float: none !important;
      text-align: center;
    }
    .header .btn {
      margin-top: 30px;
      float: none !important;
    }
    .project-image {
      margin-bottom: 15px;
    }
  }