@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
/* Refoctor Area */
.item--container {
  max-width: 120rem;
  padding: 4rem 0;
}
.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__wrap {
  flex-wrap: wrap;
}

.card--outer--border {
  position: relative;
  width: 32rem;
  height: 44rem;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset 5px 5px 5px rgba(0, 0, 0, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.05),
    5px 5px 5px rgba(0, 0, 0, 0.05);

  border-radius: 1.5rem;
  margin: 3rem;
}

.card {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  transition: 0.5s;
}

.card--content {
  padding: 2rem;
}

.card__content__header {
  position: absolute;
  top: 10px;
  right: 30px;
}
.card__content__text {
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.card--content > h2 {
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.card--content > h3 {
  font-size: 1.8rem;
}

.card--content > p {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 0;
  line-height: 1.5;
}

.card--content > a {
  position: relative;
  display: inline-block;
  background: skyblue;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  margin: 1rem auto;
}

.card:hover {
  transform: translateY(-50px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #b95ce3, #4f29cd);
}
.card__content__text:hover {
  color: white;
}

.card--content:hover > a {
  background: palevioletred;
  transition: 0.5s;
}
/* Refoctor Area */
