body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

p {
  width: 150px;
  height: 150px;
  background: gold;
}

.rotate:hover {
  transform: rotate(30deg);
}

.scal:hover {
  transform: scale(1.2);
}
.skew:hover {
  transform: skew(-15deg);
}
.translate:hover {
  transform: translate(15px, 15px);
}
.translate_rotate:hover {
  transform: translate(15px, 15px) rotate(15deg);
}
._3d:hover {
  transform: perspective(200px) rotateY(45deg);
  transform-origin: 0 50%;
}
