.container {
  border: 3px solid gray;
  display: flex;
  flex-direction: row;
}
.box {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  background-color: gold;
}
.container2 {
  margin-top: 0.5rem;
  border: 3px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.one {
  align-self: flex-end;
}
