.containers {
  display: grid;
  /* grid-template-rows: 100px 100px 100px; */
  /* grid-template-rows: repeat(3, 100px); */
  /* grid-template-columns: 100px 100px; */
  /* grid-template-columns: repeat(2, 100px); */

  grid-template: repeat(3, 100px) / repeat(2, 100px);
  justify-items: stretch;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  border: 2px solid lightgray;
}
.containers2 {
  display: grid;
  grid-template: repeat(3, 100px) / 100px 70fr 30fr;
  justify-items: center;
  align-items: center;
  align-content: center;
  border: 2px solid lightgray;
}
.containers3 {
  display: grid;
  grid-template: repeat(3, 100px) / 30fr 70fr;
  grid-template-areas:
    "header     header"
    "navigation side_bar"
    ".          footer";
  gap: 10px 10px;
  border: 2px solid lightgray;
}

.box {
  height: 5rem;
  background-color: gold;
}

.box2 {
  width: 5rem;
  height: 5rem;
  background-color: gold;
}
.box3 {
  background-color: gold;
}

.grid-header {
  grid-area: header;
}
.grid-footer {
  grid-area: footer;
}
