<div class="collapsible collapsible--expand">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Itme 1</h2>
    <svg class="icon icon--primary collapsible__chevron__icon">
      <use xlink:href="/images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur error
      optio reiciendis in quae, repellendus sed necessitatibus dignissimos
      quisquam vero!
    </p>
  </div>
</div>
<div class="collapsible collapsible--expand">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Itme 1</h2>
    <svg class="icon icon--primary collapsible__chevron__icon">
      <use xlink:href="/images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur error
      optio reiciendis in quae, repellendus sed necessitatibus dignissimos
      quisquam vero!
    </p>
  </div>
</div>
<script src="/js/main.js"></script>
