<div class="collout callout--primary">
    <div class="grid grid--1x2">
      <div class="collout__content">
        <h2 class="callout__heading">Ready</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum,
          doloremque eius! Cum et nulla provident tempore eos nam eaque illum
          quod, voluptates ipsum officiis! In totam tempore illo voluptatibus
          similique, facere ullam repudiandae ipsa unde enim, suscipit
          deleniti eos fugit quasi minus provident? Enim, magni modi deserunt
          possimus ab debitis.
        </p>
      </div>
      <a href="#" class="button button--secondary button--large">get Start</a>
    </div>
  </div>