<section class="block container block--domain">
    <header class="block__header">
      <h2>Get Start From 9$ per Month</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis,
        reprehenderit.
      </p>
    </header>
    <div class="input-group">
      <input type="text" class="input" placeholder="Enter Domain Name hare..." />
      <button class="button button--primary">
        <svg class="icon icon--white">
        <use xlink:href="/images/sprite.svg#search"></use>
      </svg>Button</button></a>
    </div>
  </section>
  <ul class="list block__domain__prices">
    <li><span class="badge badge--secondary">.woerld 6$</span></li>
    <li><span class="badge">.svg 10$</span></li>
    <li><span class="badge">.fdfa 6$</span></li>
    <li><span class="badge">.woerld 6$</span></li>
    <li><span class="badge">.com 6$</span></li>
    <li><span class="badge">.com 6$</span></li>
  </ul>