<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expand footer_section">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">PRODUCT</h2>
        <svg class="icon icon--white collapsible__chevron__icon">
          <use xlink:href="/images/sprite.svg#clock"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">Word Press Hostin</li>
          <li class="list__item">Free Site</li>
          <li class="list__item">Domain Sell</li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer_section">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron__icon">
          <use xlink:href="/images/sprite.svg#clock"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">Word Press Hostin</li>
          <li class="list__item">Free Site</li>
          <li class="list__item">Domain Sell</li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer_section">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__chevron__icon">
          <use xlink:href="/images/sprite.svg#clock"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item">Word Press Hostin</li>
          <li class="list__item">Free Site</li>
          <li class="list__item">Domain Sell</li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="/images/logo.png" alt="" srcset="" />
      <p class="footer__copyright">Copyright aj 2021</p>
    </section>
  </div>
</footer>
