<section class="block">
    <header class="block__header">
      <h2>What our coutomer are saying</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur,
        ullam!
      </p>
    </header>
    <div class="container">
      <div class="card testimonial">
        <div class="grid grid--1x2">
          <div class="testimonial__image">
            <img src="/images/testimonial.jpg" alt="a happy smilling man" />
            <span class="icon-container icon-container--accent">
              <svg class="icon icon--primary icon--white icon--small">
                <use xlink:href="/images/sprite.svg#quotes"></use>
              </svg>
            </span>
          </div>
          <blockquote class="quotes">
            <p class="quote__text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Consequuntur, nobis hic. Magni sunt, maiores consectetur
              nesciunt quo odio cumque! Distinctio?Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Sapiente, tempora!
            </p>

            <div class="media">
              <div class="media__image quote__image">
                <svg class="icon icon--primary">
                  <use xlink:href="/images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title author_name">John Smith</h3>
                <p class="organization_name">My Company</p>
              </div>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </section>